{% extends 'index.html' %}
{% block title%}Functions DB {% endblock%}

{% block content%}
<div class="container" style="background-color: aqua; border-color: black; height: 40%; width: 40%;">
<form action="/giveME" method="post">
    <input type="text" name="username" id="username">
    <button type="submit">Go</button>
</form>
</div>





<table class="table table-bordered table-striped">

    <thead>
    <tr>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td></td>
    </tr>
</tbody>

</table>



{% endblock%}