{% extends 'index.html' %}
{% load static %}
{%block title%}Displayes {%endblock%}



{% block content %}

{% if CustomerS %}
<table  class="table table-bordered table-striped">
  <thead>
    <tr>
      <th> ID </th>
      <th>First Name</th>  
      <th>Last Name</th> 
      <th>Adress</th>
      <th>Phone</th>
      <th>Credit Card</th>
      <th>User ID</th>
  </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td class="highlighter-rouge">{{customer.id}}</td>
      <td>{{customer.first_name}}</td>
      <td>{{customer.last_name}}</td>
      <td>{{customer.adress}}</td>
      <td class="highlighter-rouge">{{customer.phone}}</td>
      <td>{{customer.credit_num}}</td>
      <td>{{customer.user_id}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% elif UserS %}
    <table  class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID </th>
          <th> User Name</th>
          <th> Password</th>
          <th> Email</th>
          <th> Role</th>
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
    <tr>
      <td class="highlighter-rouge">{{user.id }}</td>
      <td>{{user.username }}</td>
      <td>{{user.pwd }}</td>
      <td>{{user.email }}</td>
      <td>{{ user.role}}</td>
    </tr>
    {% endfor %}
        </tbody>
        </table>
  {%endif%}

  {% if FlightS %}
    <table  class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID </th>
          <th> Airline</th>
          <th> From</th>
          <th> To</th>
          <th> Departure</th>
          <th>Arrival</th>
          <th>Tickets Qty.</th>
      </tr>
      </thead>
      <tbody>
        {% for flight in flights %}
    <tr>
      <td class="highlighter-rouge">{{flight.id }}</td>
      <td>{{flight.airlineID }}</td>
      <td>{{flight.origin_country}}</td>
      <td>{{flight.destenation_country }}</td>
      <td>{{flight.dep_time}}</td>
      <td>{{flight.arrival_time}}</td>
      <td>{{flight.tickets_left}}</td>
    </tr>
    {% endfor %}
        </tbody>
        </table>
  {%endif%}

  {% if TicketS %}
  <table  class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID </th>
        <th> Flight</th>
        <th> Customer</th>
    </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
  <tr>
    <td class="highlighter-rouge">{{ticket.id }}</td>
    <td>{{ticket.flight_id }}</td>
    <td>{{ticket.customer_id }}</td>
  </tr>
  {% endfor %}
      </tbody>
      </table>
{%endif%}  

{% if AirlineS %}
    <table  class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID </th>
          <th> Country</th>
          <th> Name</th>
          <th> User</th>
      </tr>
      </thead>
      <tbody>
        {% for airline in airlines %}
    <tr>
      <td class="highlighter-rouge">{{airline.id }}</td>
      <td>{{airline.country_id }}</td>
      <td>{{airline.airline_name }}</td>
      <td>{{airline.user_id }}</td>
    </tr>
    {% endfor %}
        </tbody>
        </table>
  {%endif%}

  {% if CountrieS %}
  <table  class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID </th>
        <th>Name</th>
        <th>....</th>  
    </tr>
    </thead>
    <tbody>
      {% for country in countries %}
  <tr>
    <td class="highlighter-rouge">{{country.id }}</td>
    <td>{{country.country_name }}</td>
    <td><img src="{% static 'images/{{country.country_name}}.png' %}"></td>
  </tr>
  {% endfor %}
      </tbody>
      </table>
{%endif%}  
{% endblock %}